---
- name: update hostname to match the aws console name for non mongo nodes.
  command: "hostnamectl set-hostname {{ inventory_hostname }}"
  register: hostname
  become: true
  when: "inventory_hostname != 'localhost' and 'capd_dbmongo' not in group_names"
  tags: hostname

- name: update hostname to match the aws console name with the dns suffix to match the ELB on mongo nodes.
  command: "hostnamectl set-hostname {{ inventory_hostname }}{{ dns_suffix | default('.internal.catalyst.3mhis.net') }}"
  register: hostname_mongo
  become: true
  when: "'capd_dbmongo' in group_names"
  tags: hostname
