---
- name: Get information about the distribution
  tags: distribution_info, cloudwatch_agent
  block:
    - name: get the distribution details
      ansible.builtin.setup:
        filter:
          - ansible_distribution
          - ansible_distribution_major_version

    - name: Print the distriburion version
      ansible.builtin.debug:
        msg: "The version is {{ ansible_distribution_major_version }}"

- name: Install Troubleshooting Tools
  block:
    - name: install python3
      apt:
        name: python3
        state: present
      become: true
      tags: python3
    - name: install python3-pip
      apt:
        name: python3-pip
        state: present
      become: true
      tags: python3-pip
    - name: install ansible
      apt:
        name: ansible
        state: present
      become: true
      tags: python3
    - name: install dos2unix
      apt:
        name: dos2unix
        state: present
      become: true
      tags: dos2unix
    - name: install unzip
      apt:
        name: unzip
        state: present
      become: true
      tags: unzip
    - name: install figlet
      apt:
        name: figlet
        state: present
      become: true
      tags: figlet
    - name: install yamllint
      apt:
        name: yamllint
        state: present
      become: true
      tags: yamllint

    - name: Create Yamlint config directory
      ansible.builtin.file:
        path: "{{ item }}"
        state: directory
        mode: '0755'
      with_items:
        - ~/.config
        - ~/.config/yamllint
      tags: yamllint

    - name: configure yamllint
      copy:
        src: yamllint_config
        dest: ~/.config/yamllint/config
        mode: '0755'
      tags: yamllint

    - name: Create Installers Directories
      ansible.builtin.file:
        path: "{{ item }}"
        state: directory
        mode: '0755'
        owner: sbennett
        group: sbennett
      with_items:
        - /opt/installers
        - ~/.bashrc.d
        - /opt/installers/lnav
        - /opt/installers/difftastic
        - /opt/installers/awscli
      become: true
      tags: lnav, lazydocker, difftastic, rg, awscli

    - name: get the aws cli version
      command: aws --version
      register: awscli_version
      tags: awscli
      failed_when: false
      changed_when: false

    - name: Legacy aws cli version detected!
      debug:
        var: awscli_version.stdout
      tags: awscli
      when: awscli_version is search("aws-cli/1")

    - name: remove aws cli if installed
      ansible.builtin.pip:
        name: awscli
        state: absent
      tags: awscli
      become: true
      when: awscli_version is search("aws-cli/1")

    - name: remove /usr/bin/aws
      ansible.builtin.file:
        path: /usr/bin/aws
        state: absent
      become: true
      tags: awscli
      when: awscli_version is search("aws-cli/1")

    - name: Download aws cli
      ansible.builtin.get_url:
        url: "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip"
        dest: /opt/installers/awscli/awscliv2.zip
        force: false
      tags: awscli
      register: awscli_download
      become: true
      when: awscli_version is search("aws-cli/1") or awscli_version.rc == 2

    - name: Download aws cli session manager plugin
      ansible.builtin.get_url:
        url: "https://s3.amazonaws.com/session-manager-downloads/plugin/latest/ubuntu_64bit/session-manager-plugin.deb"
        dest: /opt/installers/awscli/session-manager-plugin.deb
        force: false
      tags: awscli
      become: true
      register: awscli_download

    - name: Extract aws cli
      ansible.builtin.unarchive:
        src: /opt/installers/awscli/awscliv2.zip
        dest: /opt/installers
        remote_src: true
      tags: awscli
      become: true
      when: awscli_version is search("aws-cli/1") or awscli_version.rc == 2

    - name: remove /usr/bin/aws
      ansible.builtin.file:
        path: /usr/local/aws-cli/v2/current
        state: absent
      become: true
      tags: awscli
      when: awscli_version is search("aws-cli/1")

    - name: install aws cli
      command:
        chdir: /opt/installers/aws
        cmd: sudo ./install
      tags: awscli
      when: awscli_version is search("aws-cli/1") or awscli_version.rc == 2

    - name: Create a symbolic link
      ansible.builtin.file:
        src: /usr/local/aws-cli/v2/current/bin/aws
        dest: /usr/bin/aws
        state: link
      become: true
      tags: awscli
      when: awscli_version is search("aws-cli/1") or awscli_version.rc == 2

    - name: Create .aws Directory
      ansible.builtin.file:
        path: ~/.aws
        state: directory
        mode: '0755'
      tags: awscli

    - name: template aws configuration file
      template:
        src: aws_cli_config
        dest: ~/.aws/config
        mode: '0664'
      tags: awscli

    - name: get the aws cli version
      command: aws --version
      register: awscli_version
      tags: awscli
      failed_when: false
      changed_when: false

    - name: print the version
      debug:
        var: awscli_version.stdout
      tags: awscli

    - name: Download Difftastic
      ansible.builtin.get_url:
        url: https://github.com/Wilfred/difftastic/releases/download/0.32.0/difft-x86_64-unknown-linux-gnu.tar.gz
        dest: /opt/installers/difftastic.zip
        validate_certs: false
      tags: difftastic

    - name: Unarchive Difftastic
      ansible.builtin.unarchive:
        src: /opt/installers/difftastic.zip
        dest: /opt/installers/difftastic
      become: true
      tags: difftastic

    - name: Install Difftastic
      copy:
        src: "/opt/installers/difftastic/{{ item.src }}"
        dest: "{{ item.dest }}"
        mode: 0755
      with_items:
        - {src: 'difft', dest: '/usr/bin/difft'}
      become: true
      tags: difftastic

    - name: Download rg
      ansible.builtin.get_url:
        url: https://github.com/BurntSushi/ripgrep/releases/download/13.0.0/ripgrep-13.0.0-x86_64-unknown-linux-musl.tar.gz
        dest: /opt/installers/rg.tar.gz
        validate_certs: false
      tags: rg

    - name: Extract rg
      ansible.builtin.unarchive:
        src: /opt/installers/rg.tar.gz
        dest: /opt/installers
        remote_src: true
      tags: rg
      become: true

    - name: Install rg
      copy:
        src: "/opt/installers/ripgrep-13.0.0-x86_64-unknown-linux-musl/{{ item.src }}"
        dest: "{{ item.dest }}"
        mode: 0755
        remote_src: true
      with_items:
        - {src: 'rg', dest: '/usr/bin/rg'}
      become: true
      tags: rg

    - name: retreive rg version
      command:
        cmd: "rg --version"
      register: rg_version
      tags: rg
      changed_when: false

    - name: display rg version
      debug:
        msg: "rg Installed! for details see https://github.com version is {{ rg_version.stdout }}"
      tags: rg

    - name: install go
      apt:
        name: golang-go
        state: present
      become: true

    - name: clone fzf repo
      ansible.builtin.git:
        repo: https://github.com/junegunn/fzf.git
        dest: ~/.fzf
        depth: 1
        version: v0.62.0
      tags: fzf
      diff: false

    - name: Download fzf
      ansible.builtin.get_url:
        url: https://github.com/junegunn/fzf/releases/download/v0.62.0/fzf-0.62.0-linux_amd64.tar.gz
        dest: ~/.fzf/fzf.tar.gz
        validate_certs: false
      tags: fzf

    - name: Extract rg
      ansible.builtin.unarchive:
        src: ~/.fzf/fzf.tar.gz
        dest: ~/.fzf/
      tags: rg

    - name: dowload fzf binary
      command:
        chdir: ~/.fzf
        cmd: ./install --bin
      tags: fzf
      register: fzf
      changed_when: fzf.stdout is not search("Already exists")

    - name: install fzf
      copy:
        src: ~/.fzf/bin/fzf
        dest: /usr/bin/fzf
        mode: 0755
      tags: fzf
      become: true

    - name: install jq
      apt:
        name: jq
        state: present
      register: jq
      retries: 5
      until: jq is success
      become: true
      tags: jq

    - name: install ncdu
      apt:
        name: ncdu
        state: present
      register: ncdu
      retries: 5
      until: ncdu is success
      become: true
      tags: ncdu

    - name: install htop
      apt:
        name: htop
        state: present
      register: htop
      retries: 5
      until: htop is success
      become: true
      tags: htop

    - name: retreive eza version
      command:
        cmd: "eza --version"
      register: eza_version_before_install
      changed_when: false
      ignore_errors: true
      tags: eza

    - name: Download eza
      ansible.builtin.get_url:
        url: https://github.com/eza-community/eza/releases/download/v0.21.3/eza_x86_64-unknown-linux-gnu.zip
        dest: /opt/installers/eza.zip
        validate_certs: false
      tags: eza
      when: eza_version_before_install.failed

    - name: Extract eza
      ansible.builtin.unarchive:
        remote_src: true
        src: /opt/installers/eza.zip
        dest: /opt/installers
      tags: eza
      when: eza_version_before_install.failed

    - name: Install fd
      copy:
        src: "/opt/installers/{{ item.src }}"
        dest: "{{ item.dest }}"
        mode: 0755
      with_items:
        - {src: 'eza', dest: '/usr/bin/eza'}
      become: true
      when: eza_version_before_install.failed
      tags: fd

    - name: retreive fd version
      command:
        cmd: "fd --version"
      register: fd_version_before_install
      changed_when: false
      ignore_errors: true
      tags: fd

    - name: Download fd
      ansible.builtin.get_url:
        url: https://github.com/sharkdp/fd/releases/download/v8.3.2/fd-v8.3.2-x86_64-unknown-linux-musl.tar.gz
        dest: /opt/installers/fd.tar.gz
        validate_certs: false
      tags: fd
      when: fd_version_before_install.failed

    - name: Extract fd
      ansible.builtin.unarchive:
        remote_src: true
        src: /opt/installers/fd.tar.gz
        dest: /opt/installers
      tags: fd
      when: fd_version_before_install.failed

    - name: Install fd
      copy:
        src: "/opt/installers/fd-v8.3.2-x86_64-unknown-linux-musl/{{ item.src }}"
        dest: "{{ item.dest }}"
        mode: 0755
      with_items:
        - {src: 'fd', dest: '/usr/bin/fd'}
      become: true
      when: fd_version_before_install.failed
      tags: fd

    - name: Install fd autocomplete
      copy:
        src: "/opt/installers/fd-v8.3.2-x86_64-unknown-linux-musl/{{ item.src }}"
        dest: "{{ item.dest }}"
      with_items:
        - {src: 'autocomplete/fd.bash', dest: '~/.bashrc.d/fd.bash'}
      tags: fd
      when: fd_version_before_install.failed

    - name: retreive fd version
      command:
        cmd: "fd --version"
      register: fd_version_after_install
      tags: fd
      when: fd_version_before_install.failed

    - name: Download lnav
      ansible.builtin.get_url:
        url: https://github.com/tstack/lnav/releases/download/v0.10.1/lnav-0.10.1-musl-64bit.zip
        dest: /opt/installers/lnav.tar.gz
        validate_certs: false
      tags: lnav

    - name: Unarchive lnav
      ansible.builtin.unarchive:
        src: /opt/installers/lnav.tar.gz
        dest: /opt/installers/lnav
      tags: lnav
      become: true

    - name: Install lnav
      copy:
        src: "/opt/installers/lnav/lnav-0.10.1/{{ item.src }}"
        dest: "{{ item.dest }}"
        mode: 0755
      with_items:
        - {src: 'lnav', dest: '/usr/bin/lnav'}
      become: true
      tags: lnav

    - name: check lnav version
      command:
        cmd: lnav -V
      register: lnav_version
      tags: lnav
      changed_when: false

    - name: display lnav information
      debug:
        msg: "Lnav Log Navigator Installed! for details see https://github.com/tstack/lnav version is {{ lnav_version.stdout }}"
      tags: lnav

- name: Create Bashrc directory
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: '0755'
  with_items:
    - ~/.bashrc.d

- name: template bashrc configurations
  template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    mode: '0644'
  with_items:
    - {src: 'bashrc.j2', dest: '~/.bashrc'}
    - {src: 'tmux.bash', dest: '~/.bashrc.d/tmux.bash'}
    - {src: 'eza.bash', dest: '~/.bashrc.d/eza.bash'}
    - {src: 'history.bash', dest: '~/.bashrc.d/history.bash'}
    - {src: 'fzf.bash.j2', dest: '~/.bashrc.d/fzf.bash'}
    - {src: 'ansible.bash', dest: '~/.bashrc.d/ansible.bash'}
    - {src: 'autojump.bash', dest: '~/.bashrc.d/autojump.bash'}
    - {src: 'kcat.bash', dest: '~/.bashrc.d/kcat.bash'}
    - {src: 'glow.bash', dest: '~/.bashrc.d/glow.bash'}
    - {src: 'terraform.bash.j2', dest: '~/.bashrc.d/terraform.bash'}
    - {src: 'git.bash.j2', dest: '~/.bashrc.d/git.bash'}
    - {src: 'ssh.bash.j2', dest: '~/.bashrc.d/ssh.bash'}
    - {src: 'aws.bash.j2', dest: '~/.bashrc.d/aws.bash'}
    - {src: 'explorer.bash.j2', dest: '~/.bashrc.d/explorer.bash'}
    - {src: 'vim.bash.j2', dest: '~/.bashrc.d/vim.bash'}
    - {src: 'chrome.bash.j2', dest: '~/.bashrc.d/chrome.bash'}
  tags: bashrc

# https://stackoverflow.com/questions/13732826/convert-pem-to-crt-and-key
# openssl x509 -outform der -in combined-solventum.pem -out combined-solventum.crt
# sudo cp *.crt /usr/local/share/ca-certificates/
# sudo update-ca-certificates
# https://dev.to/wayofthepie/a-rust-cli-for-decoding-certs-280i

- name: template tmux Configuration
  template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
  with_items:
    - {src: 'tmux.conf.j2', dest: '~/.tmux.conf'}

- name: Create vim plugin directories
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: '0755'
  with_items:
    - ~/.vim/pack/git-plugins/start
    - ~/.vim/pack/git-plugins/start/ale
    - ~/.vim/pack/git-plugins/start/ansible-vim
    - ~/.vim/pack/git-plugins/start/indentline
  tags: vim

- name: clone ale plugin repo
  ansible.builtin.git:
    repo: https://github.com/dense-analysis/ale.git
    dest: ~/.vim/pack/git-plugins/start/ale
  tags: vim
  diff: false

- name: clone ansible-vim plugin repo
  ansible.builtin.git:
    repo: https://github.com/pearofducks/ansible-vim
    dest: ~/.vim/pack/git-plugins/start/ansible-vim
  tags: vim
  diff: false

- name: Cline Indentline repo
  ansible.builtin.git:
    repo: https://github.com/Yggdroot/indentLine.git
    dest: ~/.vim/pack/git-plugins/start/indentline
  tags: vim
  diff: false

- name: template vimrc
  template:
    src: vimrc.j2
    dest: ~/.vimrc
  tags: vim
# wget https://github.com/sharkdp/bat/releases/download/v0.25.0/bat_0.25.0_amd64.deb

# suod apt install eza
# sudo apt install rustup
#  rustup default stable
# sudo apt install pre-commit
# touch /root/.hushlogin
# sshx
# sudo apt-get install protobuf-compiler
# curl --insecure -vvI https://www.example.com 2>&1 | awk 'BEGIN { cert=0 } /^\* SSL connection/ { cert=1 } /^\*/ { if (cert) print }'