---
- name: print details to terminal
  debug:
    msg: "
           Deprecated SSH Cryptographic Settings
           QID: 38739
           Active
           CVE: -
           Last Found on 4 days ago
           Vulnerability Result
           Type    Name
           key_exchange    diffie-hellman-group1-sha1
           cipher  blowfish-cbc
           cipher  cast128-cbc
           cipher  3des-cbc
      "

- name: retrieve currently configured ciphers
  shell: 'sshd -T | egrep -iw "ciphers"'
  become: "yes"
  register: sshd_ciphers

- name: display currently configured ciphers
  debug:
    var: sshd_ciphers.stdout

- name: update sshd to use secure ciphers
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^ciphers '
    line: "ciphers chacha20-poly1305@openssh.com,aes128-ctr,aes192-ctr,aes256-ctr,aes128-gcm@openssh.com,aes256-gcm@openssh.com,aes128-cbc,aes192-cbc,aes256-cbc"
    state: present
  become: true
  register: ciphers_status

- name: restart sshd to have the new ciphers applied
  systemd:
    name: sshd
    state: restarted
  become: true
  when: ciphers_status.changed

- name: retrieve currently configured ciphers. Hopefully this will have any bad ciphers removed
  shell: 'sshd -T | egrep -iw "ciphers"'
  become: "yes"
  register: sshd_ciphers
  changed_when: false

- name: display currently configured ciphers. Hopefully this will have any bad ciphers removed
  debug:
    var: sshd_ciphers.stdout

- name: retrieve currently configured kexalgorithms
  shell: 'sshd -T | egrep -iw "kexalgorithms"'
  become: "yes"
  register: sshd_ciphers
  changed_when: false

- name: display currently configured kexalgorithms
  debug:
    var: sshd_ciphers.stdout

- name: update kexalgorithms
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^kexalgorithms '
    line: "kexalgorithms curve25519-sha256,curve25519-sha256@libssh.org,ecdh-sha2-nistp256,ecdh-sha2-nistp384,ecdh-sha2-nistp521,diffie-hellman-group-exchange-sha256,diffie-hellman-group16-sha512,diffie-hellman-group18-sha512,diffie-hellman-group-exchange-sha1,diffie-hellman-group14-sha256,diffie-hellman-group14-sha1"
    state: present
  become: true
  register: sshd_kexalgorithms

- name: restart sshd so that new kexalgorithms can take effect
  systemd:
    name: sshd
    state: restarted
  become: true
  when: sshd_kexalgorithms.changed

- name: retrieve currently configured kexalgorithms
  shell: 'sshd -T | egrep -iw "kexalgorithms"'
  become: "yes"
  register: sshd_ciphers
  changed_when: false

- name: display currently configured kexalgorithms
  debug:
    var: sshd_ciphers.stdout
