#!/bin/bash
# Setup fzf
# ---------
if [[ ! "$PATH" == */home/{{ ansible_user }}/.fzf/bin* ]]; then
  PATH="${PATH:+${PATH}:}/home/ec2-user/.fzf/bin"
fi

# Auto-completion
# ---------------
[[ $- == *i* ]] && source "/home/{{ ansible_user }}/.fzf/shell/completion.bash" 2> /dev/null

# Key bindings
# ------------
source "/home/{{ ansible_user }}/.fzf/shell/key-bindings.bash"
