#!/bin/bash

if [ ! -d "$HOME/.aws" ]; then
  mkdir ~/.aws
fi

if [[ ! -e "$HOME/.aws/credentials" && -e /mnt/c/Users/AAA3AZZ/.aws/credentials ]]; then
  ln -s /mnt/c/Users/AAA3AZZ/.aws/credentials ~/.aws/credentials
fi
