[credential]
  helper = store 
[user]
  email = deadkid@gmail.com
  name = Scott Bennett
[diff]
  external = difft
[core]
  longpaths = true
  autocrlf = false  
[push]
  # git config --global --type bool push.autoSetupRemote true
  autoSetupRemote = true
[filter "lfs"]
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
