#!/bin/bash
# alias j2lint:='j2lint $0 --ignore jinja-variable-lower-case'


j2lint() {
# args: [--ignore, jinja-statements-indentation, jinja-variable-format, single-statement-per-line, jinja-variable-lower-case, --]

command  j2lint $1 --ignore jinja-statements-indentation jinja-variable-format single-statement-per-line jinja-variable-lower-case
}
